<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.war.amonchar">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_amonchar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMonchar">
        <activity
            android:name=".act_detalle_receta"
            android:exported="true" />
        <activity
            android:name=".act_lista_recetas"
            android:exported="true" />
        <activity
            android:name=".act_buscar_ingredientes"
            android:exported="true" />
        <activity
            android:name=".act_buscar_general"
            android:exported="true" />
        <activity
            android:name=".act_editar_perfil"
            android:exported="true" />
        <activity
            android:name=".act_beneficios_ingredientes"
            android:exported="true" />
        <activity
            android:name=".act_lista_compra"
            android:exported="true" />
        <activity
            android:name=".act_plan_semanal"
            android:exported="true" />
        <activity
            android:name=".act_agregar_receta"
            android:exported="true" />
        <activity
            android:name=".act_perfil_usuario_general"
            android:exported="true" />
        <activity
            android:name=".act_registro_usuario"
            android:exported="true" />
        <activity
            android:name=".act_inicio_sesion"
            android:exported="true" />
        <activity
            android:name=".act_inicio"
            android:exported="true" />
        <activity
            android:name=".act_bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>